<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/features/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <style>
        /* external css: flickity.css */

        /*        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0px;
            font-family: sans-serif;
        }*/

        .gallery {
            background: #EEE;
        }

        .gallery-cell {
            width: 55%;
            height: 500px;
            margin-right: 10px;
            background: #8C8;
            counter-increment: gallery-cell;
        }

            .gallery-cell img {
                max-width: 100%;
                height: 500px;
            }

        .selectedimg {
            max-width: 100%;
            max-height: 100%;
        }

        .feature span {
            font-size: 14px;
        }

        .moneymoney {
            float: right;
            padding-right: 10px;
        }

        .selectedimgdiv {
            width: 100%;
            height:214px;
        }

        .selectedimgdiv img {
            width: 100% !important;
            height: auto !important;
        }
        .selectphotodiv {
            z-index:-1;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            background-position: center;
            padding-bottom: 56.25%;
            position: relative;
        }
    </style>

</head>

<body>
    <!--初版搜尋-->
    <!--<input id="filtersearch" type="text" placeholder="搜尋…">-->
    <!--<button class="btn ">
        🎤
    </button>-->
    <!--初版搜尋-->
    <div class="app container px-4 py-5" id="mySelected">
        <h2 class="pb-2 border-bottom">
            探索更多<!--{{fliterList.length}}-->
        </h2>
        <!--篩選-->
        <div style="width: 300px;">
            <!--<div style="position:relative; background-color:red">
            <div style="padding-right: 30px; background-color: red; width: 100px; height: 30px; position: absolute">
                123
            </div>
            <h3 style="position:absolute; z-index:10;">熱門</h3>
        </div>-->
            <select onchange="filterchiose(this)" style="box-shadow: none;" class="form-select" aria-label="Default select example">
                <option id="op1" value="1">熱門</option>
                <option id="op2" value="2">最新</option>
                <option id="op3" value="3">募資金額</option>
                <option id="op4" value="4">募資人數</option>
                <option id="op5" value="5">成功結束專案</option>
            </select>
        </div>
        <!--篩選-->
        <div class="row g-4 py-8 row-cols-1 row-cols-lg-3" v-if="sele != 5">
            <!--id="op2"-->
            <a href="./product.html" style="text-decoration: none; color: black;" v-on:click="getproductID(item)" v-for="item in fliterList">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection" />
                        </svg>
                    </div>

                    <!--資訊卡-->
                    <div class="selectphotodiv" :style="{'background-image':'url(' + item.coverphoto + ')'}">
                    </div>
                    <!--<div class="selectedimgdiv">
                <img class="selectedimg" :src="item.coverphoto" alt="">
            </div>-->
                    <p></p>
                    <h3 class="fs-5" style="height: 70px">{{item.productTitle}}</h3>
                    <div class="d-flex justify-content-between">
                        <p style="font-weight:bold">$ {{item.currentAmount | money}}</p>
                        <span>{{item.nowperson}} 人支持</span>
                    </div>

                    <!--進度條-->
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-success" role="progressbar" :style="{width: item.percent+'%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="pb-2"></div>
                    <div class="d-flex justify-content-between">
                        <span>剩下{{item.days}} 天</span>
                        <span class="money" style="color:green">{{item.percent}} %</span>
                    </div>
                </div>
             </a>
        </div>

        <div class="row g-4 py-8 row-cols-1 row-cols-lg-3" v-else>
            <div  v-for="item in fliterList" >
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection" />
                        </svg>
                    </div>
                    <div  style="text-align: center; background-color: rgb(169, 169, 169, 0.4);">
                        <b>此專案已結束，謝謝</b>
                    </div>
                    <!--資訊卡-->
                    <div class="selectphotodiv" :style="{'background-image':'url(' + item.coverphoto + ')'}">
                    </div>
                    <p></p>
                    <h3 class="fs-5" style="height: 70px">{{item.productTitle}}</h3>
                    <div class="d-flex justify-content-between">
                        <p style="font-weight:bold">$ {{item.currentAmount | money}}</p>
                        <span>{{item.nowperson}} 人支持</span>
                    </div>

                    <!--進度條-->
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-success" role="progressbar" :style="{width: item.percent+'%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="pb-2"></div>
                    <div class="d-flex justify-content-between">
                        <span>剩下{{item.days}} 天</span>
                        <span class="money" style="color:green">{{item.percent}} %</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!--<li class="page-item    ">
                <a class="page-link">Previous</a>
            </li>-->
                <li :class="{'page-item active':topage==n,'page-item':topage!=n}" v-for="(n,key) in tolpage" style="padding-left:5px"><a class="page-link" v-on:click="whatpage(key,n)" href="#">{{n}}</a></li>
            </ul>
        </nav>
    </div>

 

    <!-- UI code goes here -->
    <!--<div id="warning">
        <h1 style="font-weight:500;">Speech Recognition Speech SDK not found (microsoft.cognitiveservices.speech.sdk.bundle.js missing).</h1>
    </div>-->

    <div id="content" style="display:none">
        <table width="100%">
            <!--<tr>
                <td></td>
                <td><h1 style="font-weight:500;">Microsoft Cognitive Services Speech SDK JavaScript Quickstart</h1></td>
            </tr>-->
            <!--<tr>
                <td align="right"><a href="https://docs.microsoft.com/azure/cognitive-services/speech-service/get-started" target="_blank">Subscription</a>:</td>
                <td><input id="subscriptionKey" type="text" size="40" value="f433aba72ed643f19bd014887e3ad78d"></td>
            </tr>-->
            <!--<tr>
                <td align="right">Region</td>
                <td><input id="serviceRegion" type="text" size="40" value="southeastasia"></td>
            </tr>-->
            <!--<tr>
                <td></td>
                <td><button id="startRecognizeOnceAsyncButton">Start recognition</button></td>
            </tr>-->
            <!--<tr>
                <td align="right" valign="top">Results</td>
                <td><textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
            </tr>-->
        </table>
    </div>


    <script src="../layout/layout.js"></script>
    <script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
    <!--<script>
        // status fields and start button in UI
        var phraseDiv;
        var startRecognizeOnceAsyncButton;

        // subscription key and region for speech services.
        var subscriptionKey, serviceRegion;
        var authorizationToken;
        var SpeechSDK;
        var recognizer;
        document.addEventListener("DOMContentLoaded", function () {
            startRecognizeOnceAsyncButton = document.querySelector('.voicesearch');
            subscriptionKey = document.getElementById("subscriptionKey");
            serviceRegion = document.getElementById("serviceRegion");
            phraseDiv = document.getElementById("phraseDiv");

            // startRecognizeOnceAsyncButton
            startRecognizeOnceAsyncButton.addEventListener("click", function () {
                startRecognizeOnceAsyncButton.disabled = true;
                /*   phraseDiv.innerHTML = "";*/

                // if we got an authorization token, use the token. Otherwise use the provided subscription key
                var speechConfig;
                speechConfig = SpeechSDK.SpeechConfig.fromSubscription("f433aba72ed643f19bd014887e3ad78d", "southeastasia");
                //if (authorizationToken) {
                //    speechConfig = SpeechSDK.SpeechConfig.fromAuthorizationToken(authorizationToken, serviceRegion.value);
                //} else {
                //    if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
                //        alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
                //        return;
                //    }
                //    speechConfig = SpeechSDK.SpeechConfig.fromSubscription("f433aba72ed643f19bd014887e3ad78d", "southeastasia");
                //}

                // speechConfig.speechRecognitionLanguage = "en-US";
                speechConfig.speechRecognitionLanguage = "zh-TW";
                var audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
                recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

                recognizer.recognizeOnceAsync(
                    function (result) {
                        startRecognizeOnceAsyncButton.disabled = false;
                        /*          phraseDiv.innerHTML += result.text;*/
                        window.console.log(result);
                        const textresult = result.text
                    /*    document.getElementById("mysearch").value = result.text.substring(0, textresult.length - 1);*/
                        document.querySelector(".voicesearchtext").innerHTML = result.text.substring(0, textresult.length - 1);
                        recognizer.close();
                        recognizer = undefined;
                    },
                    function (err) {
                        startRecognizeOnceAsyncButton.disabled = false;
                        /*    phraseDiv.innerHTML += err;*/
                        window.console.log(err);
                     /*   document.getElementById("mysearch").value = "請再說一次.";*/
                        document.querySelector(".voicesearchtext").innerHTML = "檢查麥克風 再說一次";
                        recognizer.close();
                        recognizer = undefined;
                    });
            });

            if (!!window.SpeechSDK) {
                SpeechSDK = window.SpeechSDK;
                startRecognizeOnceAsyncButton.disabled = false;

                document.getElementById('content').style.display = 'block';
                /* document.getElementById('warning').style.display = 'none';*/

                // in case we have a function for getting an authorization token, call it.
                if (typeof RequestAuthorizationToken === "function") {
                    RequestAuthorizationToken();
                }
            }
        });
    </script>-->

    <script>
        //function voicesearch() {
        //    console.log(98877);
        //}

        Vue.filter('money', function (num) {
            const parts = num.toString().split('.');
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return parts.join('.');
        });

        /*搜尋*/
        //document.getElementById("filtersearch")
        //    .addEventListener("keyup", function (e) {
        //        if (e.code === 'Enter') {
        //            document.getElementById("filtersearch").value;
        //            alert(document.getElementById("filtersearch").value);
        //            window.location = "/productpage/filterans.html";
        //            sessionStorage.setItem("filterans", document.getElementById("filtersearch").value);
        //        }
        //    });
        /*搜尋*/


        /*篩選*/
        function filterchiose(e) {
            if (e.value == 5) {
                sessionStorage.setItem("sele", e.value);
                sessionStorage.setItem("topage", 0);
                window.location = "./filter.html"
            }
            else {
                sessionStorage.setItem("sele", e.value);
                sessionStorage.setItem("topage", 0);
                window.location = "./filter.html"
            }
            //$.ajax({
            //    type: 'Get',
            //    url: '/api/Fundraising/filter/' + e.value,
            //    success: function (e) {
            //        app.fliterList = e
            //        console.log(app.topage)
            //    }
            //})
        }
        /*篩選*/
        
        var app = new Vue({
            el: ".app",
            data: {
                fliterList: [],
                tolpage: 0,
                topage: 0,
                sele:0,
            },
            beforeMount() {
                var apitopage = (sessionStorage.getItem("topage") == null) ? 0 : sessionStorage.getItem("topage")
                var apisele = (sessionStorage.getItem("sele") == null) ? 1 : sessionStorage.getItem("sele")
                $.ajax({
                    type: 'Get',
                    url: '/api/Fundraising/topage/' + parseInt(apitopage) + '/' + parseInt(apisele),
                    success: function (e) {
                        app.sele = apisele
                        app.fliterList = e
                    }
                })
            }
            ,
            mounted: function () {
                if (sessionStorage.getItem("sele") != 5) {
                    $.ajax({
                        type: 'Get',
                        url: '/api/Fundraising/tolpage',
                        success: function (e) {
                            app.tolpage = parseInt(e);
                        }
                    })
                }
                else {
                    $.ajax({
                        type: 'Get',
                        url: '/api/Fundraising/successpage',
                        success: function (e) {
                            app.tolpage = parseInt(e);
                        }
                    })
                }

                var apitopage = (sessionStorage.getItem("topage") == null) ? 0 : sessionStorage.getItem("topage")
                this.topage = parseInt(apitopage) + 1
                var apisele = (sessionStorage.getItem("sele") == null) ? 1 : sessionStorage.getItem("sele");
                document.querySelector('#op' + apisele).selected = true;
            }
            ,
            methods: {
                getproductID: function (e) {
                    /* console.log(e.productId)*/
                    sessionStorage.setItem("productId", e.productId);
                }
                ,
                whatpage: function (e,n) {
                    sessionStorage.setItem("topage", e);
                    app.topage = n
                    window.location = "./filter.html"
                }
            }
        })



                                                //Vue.createApp({
                                                //    data() {
                                                //        return {
                                                //            fliterList: [
                                                //                { "todoItemId": 1, "name": "Job A", "isComplete": true },
                                                //                { "todoItemId": 2, "name": "Job B", "isComplete": false }
                                                //            ]
                                                //        }
                                                //    },
                                                //    mounted() {
                                                //        axios.get('/api/Fundraising')
                                                //            .then(response => (this.fliterList = response.data))
                                                //    }, updated() {
                                                //        this.$nextTick(function () {
                                                //            //document.querySelector('.wid').style.width = "50%"
                                                //        });

                                                //    }
                                                //}).mount('.container')
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>

</html>