<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SignalR Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr@latest/dist/browser/signalr.js"></script>
  </head>
  <body>
    <div id="app">
      <form>
        <label for="username-input">使用者名稱:</label>
        <input type="text" v-model="username" id="username-input" />
        <button type="button" @click="connect">連接</button>
      </form>
      <form>
        <label for="user-input">收件人:</label>
        <input type="text" v-model="user" id="user-input" />
        <br />
        <label for="message-input">訊息:</label>
        <input type="text" v-model="message" id="message-input" />
        <br />
        <button type="button" @click="sendToUser">傳送給特定使用者</button>
        <button type="button" @click="sendToAll">傳送給所有人</button>
      </form>
      <div id="messages">
        <p v-for="m in messages">{{ m }}</p>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          username: "",
          user: "",
          message: "",
          messages: [],
          connection: null,
        },
        methods: {
          connect() {
            if (this.connection) {
              this.connection.stop();
            }
            this.connection = new signalR.HubConnectionBuilder()
              .withUrl("/chatHub")
              .build();
            this.connection
              .start()
              .then(() => {
                this.connection.invoke("Connect", this.username);
              })
              .catch((err) => console.error(err.toString()));
            this.connection.on("ReceiveMessage", (message) => {
              this.messages.push(message);
            });
          },
          sendToUser() {
            this.connection
              .invoke("SendMessageToUser", this.user, this.message)
              .catch((err) => console.error(err.toString()));
            this.message = "";
          },
          sendToAll() {
            this.connection
              .invoke("SendMessageToAll", this.message)
              .catch((err) => console.error(err.toString()));
            this.message = "";
          },
        },
      });
    </script>
  </body>
</html>
