<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Back-Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mystyle.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/logincheck.js"></script>
</head>

<body id="app">
    <div class="container-fluid p-0 bg-theme" >
        <!-- 導覽列 -->
        <div id="myheader" class="bg-white" style="background-image: url(../img/headerbackgroud.png); background-size: cover;">

        </div>
        <!-- 結束 導覽列 -->
        <div class=" container-fluid px-5 p-4">
            <div class="row justify-content-center">
                <!-- 側邊欄位 -->

                <ul class="navbar-nav bg-white col-2 item-style sidebar" id="accordionSidebar">
                    <br>
                    <div id="mysider"></div>
                </ul>

                <!-- 結束 側邊欄位 -->
                <!--主要內容-->
                <div class="col-10">
                    <div class="px-3">
                        <div class="bg-white item-style mb-5">
                            <!-- ===============================================================================================================  -->
                            <div class="">
                                <div class="card-header py-3 mb-3">
                                    <h3 class="m-0">會員查詢</h6>
                                </div>
                                <div class="row justify-content-center p-3">
                                    <div class="mb-3 col-12">
                                        <form action="" class="py-4"
                                            style=" position: relative; border: 1px solid #e3e6f0;">
                                            <div class="row " style="line-height: 32px;">
                                                <p class="bg-white"
                                                    style="position: absolute; top: -15px; left: 2%; font-size: 24px;">
                                                    查詢條件</p>
                                                <div class="">
                                                    <label class="px-3" for="">會員編號:</label>
                                                    <input type="text">
                                                </div>
                                                <div class="">
                                                    <label class="px-3" for="">會員名稱:</label>
                                                    <input type="text">
                                                </div>
                                                <div class="px-3">
                                                    <button class="btn btn-success" style="width: 100px;">查詢</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="py-0 col-12 mb-5">

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-1">編號</th>
                                                    <th class="col-2">會員姓名</th>
                                                    <th scope="col">簡介</th>
                                                    <th class="col-2">加入時間</th>
                                                    <th class="col-2">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody class="">
                                                <tr v-for="item in userlist">
                                                    <td>{{item.userId}}</td>
                                                    <td>{{item.userName}}</td>
                                                    <td>{{item.userIntro}}</td>
                                                    <td>{{item.createDate.substring(0,10)}}</td>
                                                    <td>
                                                        <a class="btn btn-outline-success" data-toggle="modal"
                                                            data-target="#exampleModal"
                                                            v-on:click="getuserinfo(item.userId)">詳細內容 </a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>005</td>
                                                    <td>Mark</td>
                                                    <td>馬克杯</td>
                                                    <td>2022-12-29</td>
                                                    <td><a class="btn btn-outline-success" data-toggle="modal"
                                                            data-target="#exampleModal">詳細內容 </a></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- ===============================================================================================================  -->
                            </div>
                        </div>
                        <!-- Button trigger modal -->
                        
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">會員資訊</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body px-3">
                                        <div class="row  justify-content-center mb-3">
                                            <div class="col-5">1</div>
                                            <div class="col-6 ">
                                                <div class="">
                                                    <label for="">會員編號:</label><br>
                                                    <p>{{userinfo.userId}}</p>
                                                </div>
                                                <div>
                                                    <label for="">會員姓名:</label><br>
                                                    <p>{{userinfo.userName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-5">
                                                <div class="">
                                                    <label for="">性別:</label><br>
                                                    <p v-if="userinfo.userGender">男</p>
                                                    <p v-else>女</p>
                                                </div>
                                                <div class="">
                                                    <label for="">生日:</label><br>
                                                    <p>{{userinfo.userBirthday}}</p>
                                                </div>
                                            </div>
                                            <div class="col-6 ">
                                                <div class="">
                                                    <label for="">會員信箱:</label><br>
                                                    <p>userinfo.userEmail</p>
                                                </div>
                                                <div>
                                                    <label for="">會員電話:</label><br>
                                                    <p>{{userinfo.userPhone}}</p>
                                                </div>
                                            </div>
                                            <div class="col-11">
                                                <div class="">
                                                    <label for="">簡介:</label><br>
                                                    <p>{{userinfo.userIntro}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-success"
                                        data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 結束 主要內容 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 頁尾 -->
    <div id="myfooter"></div>
    <!-- 結束 頁尾r -->
    <!-- 回上方按鈕-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- 登出彈跳視窗-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/myjs.js"></script>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Chart.js 套件引入 -->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script> -->
    <!-- Chart.js 套件引入 -->
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    userlist: [],
                    userinfo: [],
                    employeeinfo: []
                }
            },
            methods: {
                getuserinfo: function (index) {
                    console.log(index)
                    axios.get(`/api/users/${index}`)
                        .then((response) => {
                            this.userinfo = response.data
                            console.log(response.data)
                        })
                }
            },
            mounted() {
                axios.get('/api/users')
                    .then((response) => {
                        this.userlist = response.data
                        // console.log(response.data.length)
                    })
                axios.get(`/api/Employees/${getCookie("employeeId")}`).then(res => {

                    this.employeeinfo = res.data
                    console.log(this.employeeinfo)
                })
            },
        }).mount('#app')
    </script>
</body>

</html>