<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Back-Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mystyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="js/sb-admin-2.min.js"></script> -->
    <script src="./js/logincheck.js"></script>
</head>

<body>
    <div id="app">
        <loading :can-cancel="true"></loading>
        <div class="container-fluid p-0 bg-theme">
            <!-- 導覽列 -->
            <div id="myheader" class="bg-white"
                style="background-image: url(../img/headerbackgroud.png); background-size: cover;">
            </div>
            <!-- 結束 導覽列 -->
            <div class=" container-fluid px-5 p-4">
                <div class="row justify-content-center">
                    <!-- 側邊欄位 -->
                    <ul class="navbar-nav bg-white col-2 item-style sidebar" id="accordionSidebar"
                    style="overflow-x: auto;max-height: 750px;">
                        <br>
                        <div id="mysider"></div>
                    </ul>
                    <!-- 結束 側邊欄位 -->
                    <!--主要內容-->
                    <div class="col-10">
                        <div class="px-3">
                            <div class="item-style bg-white  mb-5">
                                <!-- ===============================================================================================================  -->
                                <div class="card-header py-3 mb-3">
                                    <h3 class="m-0">提案名稱:{{productinfo.productTitle}}</h3>
                                </div>
                                <div class="row justify-content-center px-5">
                                    <div class="col-6">
                                        <img :src="productinfo.coverphoto" alt="" class="w-100 h-100">
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-7">
                                                <div class="py-3">
                                                    <div class="mb-3">
                                                        <label for="" class="">目標金額:</label>
                                                        <h3 class="">{{productinfo.targetAmountstring}} <h3>

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="" class="">募資進度:</label>
                                                        <h3 v-if="productinfo.sum == 0">無</h3>
                                                        <h3 v-else v-for="item in productinfo.sum">{{item.sumstring}}
                                                        </h3>
                                                    </div>
                                                    <div class="mb-3 d-flex">
                                                        <div class="mr-auto">
                                                            <label for="" class="">提案狀態:</label> <br>
                                                            <select v-model="productinfo.productStateId"
                                                                v-on:change="clear()">
                                                                <option value="1">審核中</option>
                                                                <option value="2">審核不通過</option>
                                                                <option value="3">審核通過</option>
                                                            </select>
                                                        </div>
                                                        <div class="pr-5">
                                                            <label for="">募資天數:</label><br>
                                                            <select id="day" v-if="productinfo.productStateId == 3"
                                                                v-on:change="setday">
                                                                <option>請選擇</option>
                                                                <option value=30>30天</option>
                                                                <option value=45>45天</option>
                                                                <option value=60>60天</option>
                                                            </select>
                                                        </div>
                                                        <!-- <h3>{{productinfo.productStateId}}</h3> -->
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="" class="">截止日期:</label> <br>
                                                        <input type="date" v-if="productinfo.productStateId == 3"
                                                            v-model="productinfo.endtime" readonly>
                                                        <!-- <h3>{{productinfo.endtime}}</h3> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="py-3">
                                                    <div class="mb-3">
                                                        <h3>是否精選:<input class="ml-1" type="checkbox"
                                                                style="height: 28px; width: 28px;"
                                                                :value="productinfo.featured"
                                                                v-model="productinfo.featured"
                                                                :disabled="productinfo.productStateId !=3"></h3>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="">
                                            <div class="card">
                                                <h5 class="card-header">負責人資訊</h5>
                                                <div class="card-body row justify-content-around">
                                                    <div class="col-4 px-4">
                                                        <label for="">負責人姓名:</label> <br>
                                                        <input type="text" class="w-100"
                                                            :value="productinfo.principalName">
                                                        <br>
                                                        <br>
                                                        <label for="">身分份字號:</label> <br>
                                                        <input type="text" class="w-100"
                                                            :value="productinfo.principalId">
                                                    </div>
                                                    <div class="col-4 px-4">
                                                        <label for="">聯絡電話: </label> <br>
                                                        <input type="text" class="w-100"
                                                            :value="productinfo.principalPhone"><br>
                                                        <br>
                                                        <label for="">銀行帳戶:</label> <br>
                                                        <input type="text" class="w-100"
                                                            :value="productinfo.principalBankAccount">

                                                    </div>
                                                    <div class="col-4 px-4">
                                                        <label for="">聯絡信箱:</label> <br>
                                                        <input type="text" class="w-100"
                                                            :value="productinfo.principalEmail"> <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-12 ">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="contact-tab" data-toggle="tab"
                                                    data-target="#contact" type="button" role="tab"
                                                    aria-controls="contact" aria-selected="false">提案內容</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="home-tab" data-toggle="tab"
                                                    data-target="#home" type="button" role="tab" aria-controls="home"
                                                    aria-selected="true">贊助方案</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="question-tab" data-toggle="tab"
                                                    data-target="#question" type="button" role="tab"
                                                    aria-controls="question" aria-selected="false">常見問題</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content py-3" id="myTabContent">
                                            <div class="tab-pane fade show active" id="contact" role="tabpanel"
                                                aria-labelledby="contact-tab" v-html="productinfo.productContent"></div>
                                            <div class="tab-pane fade " id="home" role="tabpanel"
                                                aria-labelledby="home-tab">
                                                <div v-for="(item,index ) in plan">
                                                    <div class="card mb-3">
                                                        <h5 class="card-header">{{item.planTitle}}</h5>
                                                        <div class="card-body row p-1">
                                                            <div class="col-4">
                                                                <img :src="item.planPhoto" alt="" class="img-fuild w-100">
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="d-flex justify-content-between">
                                                                    <div>方案編號:{{index + 1}}</div>
                                                                    <div>
                                                                        <h3>{{item.planPrice}}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">方案內容:<br> {{item.planContent}}</div>
                                                                <div class="text-right">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="question" role="tabpanel"
                                                aria-labelledby="question-tab">
                                                <div class="card mb-3" v-for="item in Question">
                                                    <div v-if="Question.length == 0">沒有常見問題資訊</div>
                                                    <div class="">
                                                        <h5 class="card-header" id="headingOne">
                                                            {{item.questionTitle}}
                                                        </h5>
                                                        <div class="p-2">
                                                            <strong>{{item.questionContent}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex text-right px-5 pb-3 justify-content-center ">
                                        <div class="col-2">
                                            <button class="btn btn-secondary" style="width: 100%;"
                                                onclick="window.history.back()">返回</button>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success" style="width: 100%;"
                                                v-on:click="PurProductInfo()" disabled
                                                v-if="productinfo.productStateId == 1 || productinfo.productStateId == 3 && productinfo.endtime ==''">確認</button>
                                            <button class="btn btn-success" style="width: 100%;"
                                                v-on:click="PurProductInfo()"
                                                v-else-if="productinfo.productStateId == 2">確認</button>
                                            <button class="btn btn-success" style="width: 100%;"
                                                v-on:click="PurProductInfo()"
                                                v-else="productinfo.productStateId == 3 && productinfo.endtime !=''">確認</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- ===============================================================================================================  -->
                            </div>
                        </div>
                    </div>
                    <!-- 結束 主要內容 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 頁尾 -->
    <div id="myfooter"></div>
    <!-- 結束 頁尾r -->
    <!-- 回上方按鈕-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </div>
    <script src="./js/myjs.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        Vue.use(VueLoading);

        var app = new Vue({
            el: '#app',
            data: {
                LoaderVisiable: false,
                productinfo: [{
                    "productId": 15,
                    "productTitle": "家長必備! 圈圈的《祕密派對》- 台灣原創專為2-6歲設計的身體保護翻翻書",
                    "productContent": "家長必備! 圈圈的《祕密派對》- 台灣原創專為2-6歲設計的身體保護翻翻書",
                    "targetAmount": 300000,
                    "targetAmountstring": "NT$300,000",
                    "startime": "2022-11-25",
                    "endtime": "2023-03-03",
                    "productStateId": 3,
                    "principalId": "T123456789",
                    "principalName": "黃老頭",
                    "principalPhone": "0912345678",
                    "principalEmail": "nick880804@gmail.com",
                    "principalBankAccount": "324231411234",
                    "featured": true,
                    "coverphoto": "",
                    "sum": 2190,
                    "sumstring": "NT$2,190"
                }],
                plan: [
                    {
                        "planId": 5,
                        "productId": 15,
                        "planTitle": "《祕密派對》圈圈方案",
                        "planContent": "《祕密派對》兒童保護翻翻書*1+《Yes means yes》、《No means no》兒歌(附歌詞本)*1",
                        "planPrice": 2090,
                        "planPhoto": "",
                        "product": null,
                        "orders": []
                    },
                    {
                        "planId": 7,
                        "productId": 15,
                        "planTitle": "《祕密派對》叉叉方案",
                        "planContent": "《祕密派對》兒童保護翻翻書*3+《Yes means yes》、《No means no》兒歌(附歌詞本)*3+我的感覺我知道T恤 *1",
                        "planPrice": 4450,
                        "planPhoto": "",
                        "product": null,
                        "orders": []
                    }
                ],
                Question: [
                    {
                        "questionId": 38,
                        "productId": 42,
                        "questionTitle": "Q1. 預計提供哪些運送方式呢？",
                        "questionContent": "目前台灣本島與外島支援宅配、7-11 店到店，海外：順豐或DHL，部分地區EMS。",
                        "product": null
                    },
                    {
                        "questionId": 39,
                        "productId": 42,
                        "questionTitle": "Q2. 下單付款後，能不能更改贊助方案呢？",
                        "questionContent": "沒問題的！\n1.先購買想更改的方案（避免錯過限量優惠）。\n2.下單完成後，再依照嘖嘖退款方式將舊的訂單取消。\n訂單退款請聯絡嘖嘖服務中心：support@zeczec.com，並提供贊助編號（P 開頭的一串英文數字，可以從贊助紀錄或嘖嘖寄給贊助人的確認信中找到），嘖嘖小幫手會以最快的速度協助您！",
                        "product": null
                    }
                ],
                employeeinfo: []
            },
            components: {
                Loading: VueLoading
            },
            methods: {
                open: function () {
                    console.log('open');
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                },
                logout: function () {
                    axios.get("/api/back/logout").then(res => { if (res.data == "已登出") { window.location.reload() } })
                },
                setday: function () {
                    var days = document.getElementById("day").value;
                    var now = new Date()
                    this.productinfo.startime = now.getFullYear() + '-' + (now.getMonth() + 1).toString().padStart(2, "00") + '-' + now.getDate().toString().padStart(2, "00")
                    var endtime = new Date(now.setDate(now.getDate() + +days))
                    this.productinfo.endtime = endtime.getFullYear() + '-' + (endtime.getMonth() + 1).toString().padStart(2, "00") + '-' + endtime.getDate().toString().padStart(2, "00")
                    console.log(endtime.getFullYear() + '-' + (endtime.getMonth() + 1) + '-' + endtime.getDate())
                },
                clear: function () {
                    this.productinfo.startime = "";
                    this.productinfo.endtime = "";
                },
                PurProductInfo: function () {
                    axios.get(`/api/Products/${this.productinfo.productId}`)
                        .then((response) => {
                            var putproduct = response.data
                            if (this.productinfo.productStateId == 2) {
                                putproduct.productStateId = this.productinfo.productStateId
                                putproduct.startime = "1900-01-01"
                                putproduct.endtime = "1900-01-01"
                            } else if (this.productinfo.productStateId == 3) {
                                putproduct.productStateId = this.productinfo.productStateId
                                putproduct.startime = this.productinfo.startime
                                putproduct.endtime = this.productinfo.endtime
                                putproduct.featured = this.productinfo.featured
                            }
                            console.log(putproduct)
                            axios.put(`/api/back/Products/${this.productinfo.productId}`, putproduct)
                                .then(response => {
                                    swal("提案審核已確認", "", "success", {}).then(x => {
                                        window.location = "./Preview.html"
                                    })
                                    console.log(response)
                                });
                        })
                }
            },
            mounted() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                axios.get(`/api/back/Pdetails/${sessionStorage.getItem('productId')}`)
                    .then((response) => {
                        response.data[0].endtime = ''
                        this.productinfo = response.data[0]
                        setTimeout(() => loader.hide(), 200);
                    })
                axios.get(`/api/back/Pplans/${sessionStorage.getItem('productId')}`)
                    .then((response) => { this.plan = response.data })
                axios.get(`/api/back/Pquestion/${sessionStorage.getItem('productId')}`)
                    .then((response) => { this.Question = response.data })
                axios.get(`/api/Employees/${getCookie("employeeId")}`).then(res => {
                    this.employeeinfo = res.data
                    console.log(this.employeeinfo)
                })
            }
        })
    </script>
</body>

</html>