<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Back-Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mystyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/logincheck.js"></script>
</head>

<body>
    <div id="app">
        <loading :can-cancel="true"></loading>
        <div class="container-fluid p-0 bg-theme" id="page-top">
            <!-- 導覽列 -->
            <div id="myheader" class="bg-white"
                style="background-image: url(../img/headerbackgroud.png); background-size: cover;">

            </div>
            <!-- 結束 導覽列 -->
            <div class=" container-fluid px-5 p-4">
                <div class="row justify-content-center">
                    <!-- 側邊欄位 -->

                    <ul class="navbar-nav bg-white col-2 item-style sidebar" id="accordionSidebar"
                    style="overflow-x: auto;max-height: 750px;">
                        <br>
                        <div id="mysider"></div>
                    </ul>

                    <!-- 結束 側邊欄位 -->
                    <!--主要內容-->
                    <div class="col-10">
                        <div class="px-3">
                            <div class="bg-white item-style ">
                                <!-- ===============================================================================================================  -->
                                <div class="min-vh-100 ">
                                    <div class="card-header py-3 mb-3">
                                        <h3 class="m-0">提案查詢</h6>
                                    </div>
                                    <div class="row justify-content-center p-3">

                                        <div class="mb-3 col-12">
                                            <form>
                                                <fieldset>
                                                    <legend onclick=app.enterText()>查詢條件</legend>
                                                    <div class="d-flex py-3">
                                                        <div class="">
                                                            <label class="px-3" for="">提案狀態:</label>
                                                            <select name="productStateId" id="productStateId"
                                                                style="width: 100px; height: 100%;"
                                                                v-model="input.productStateId">
                                                                <option value="全部">全部</option>
                                                                <option value="審核中">審核中</option>
                                                                <option value="審核不通過">審核不通過</option>
                                                                <option value="募資中">募資中</option>
                                                                <option value="募資失敗">募資失敗</option>
                                                                <option value="募資成功">募資成功</option>
                                                            </select>
                                                        </div>
                                                        <div class="" v-show="false">
                                                            <label class="px-3" for="">編號:</label>
                                                            <input type="text" id="productId" name="productId"
                                                                v-model.trim="input.productId" style="padding: 5px;">
                                                        </div>
                                                        <div class="">
                                                            <label class="px-3" for="">提案名稱:</label>
                                                            <input type="text" id="productTitle" name="productTitle"
                                                                v-model.trim="input.productTitle" style="padding: 5px;">
                                                        </div>
                                                        <div class="ml-3">
                                                            <a class="btn btn-success" v-on:click="inputRest">清除</a>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="col-12">
                                            <div v-cloak>查詢結果:共{{Idchange.length}}項</div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover" id="dataTable"
                                                    width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-1">提案編號</th>
                                                            <th class="col-1">負責人</th>
                                                            <th>圖片</th>
                                                            <th>提案名稱</th>
                                                            <th class="col-1">狀態</th>
                                                            <th class="col-1">操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="item in Idchange">
                                                            <td v-cloak>{{item.p.productId}}</td>
                                                            <td v-cloak>{{item.p.principalName}}</td>
                                                            <td v-cloak class="col-1 p-1"><img :src="item.p.coverphoto"
                                                                    alt="" style=" width: 100%;"></td>
                                                            <td v-cloak>{{item.p.productTitle}}</td>
                                                            <td v-cloak>{{item.p.productStateId}}</td>
                                                            <td v-cloak v-if="item.p.productStateId == '審核中'">
                                                                <div>
                                                                    <a href="./PdetailsEdit.html"
                                                                        class="btn btn-success"
                                                                        v-on:click="checkmenber(item.p.productId)">編輯</a>
                                                                </div>
                                                            </td>
                                                            <td v-cloak v-else>
                                                                <div>
                                                                    <a href="./PdetailsView.html"
                                                                        class="btn btn-outline-success"
                                                                        v-on:click="checkmenber(item.p.productId)">查看</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ===============================================================================================================  -->
                            </div>
                        </div>
                    </div>
                    <!-- 結束 主要內容 -->
                </div>
            </div>
        </div>
        <!-- 頁尾 -->
        <div id="myfooter"></div>
        <!-- 結束 頁尾r -->
        <!-- 回上方按鈕-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- 登出彈跳視窗-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="./js/myjs.js"></script>
    <script>
        Vue.use(VueLoading);

        var app = new Vue({
            el: '#app',
            data: {
                LoaderVisiable: false,
                productlist: [],
                employeeinfo: [],
                input: {
                    productId: "",
                    productTitle: "",
                    productStateId: "全部"
                }
            },
            components: {
                Loading: VueLoading
            },
            methods: {
                open: function () {
                    console.log('open');
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    setTimeout(() => loader.hide(), 3 * 1000);
                },
                logout: function () {
                    axios.get("/api/back/logout").then(res => { if (res.data == "已登出") { window.location.reload() } })
                },
                checkmenber: function (a) {
                    sessionStorage.setItem("productId", a);
                },
                enterText:function(){
                    app.input.productId = "";
                    app.input.productTitle = "喵空漫步";
                    app.input.productStateId = "全部"
                    
                },
                inputRest:function(){
                    app.input.productId = "";
                    app.input.productTitle= "";
                    app.input.productStateId ="全部"
                }
            },
            computed: {
                StateIdchange() {
                    if (this.input.productStateId !== "全部") {
                        return this.productlist.filter(item => {
                            return item.p.productStateId == this.input.productStateId
                        })
                    } else {
                        return this.productlist
                    }
                },
                titlechange() {
                    if (this.input.productTitle) {
                        return this.StateIdchange.filter(item => {
                            return item.p.productTitle.toLowerCase().indexOf(this.input.productTitle.toLowerCase()) !== -1
                        })
                    } else {

                        return this.StateIdchange
                    }
                },
                Idchange() {
                    if (this.input.productId) {
                        return this.titlechange.filter(item => {
                            return item.p.productId == this.input.productId
                        })
                    } else {

                        return this.titlechange
                    }
                }
            },
            async mounted() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                axios.get(`/api/Employees/${getCookie("employeeId")}`).then(res => {

                    this.employeeinfo = res.data
                    console.log(this.employeeinfo)

                })
               await axios.get('/api/back/ProductList')
                    .then((response) => {
                        Object.values(response.data)
                        response.data.forEach(e => {

                            if (e.p.productStateId == 1) {
                                e.p.productStateId = "審核中"
                            } else if (e.p.productStateId == 2) {
                                e.p.productStateId = "審核不通過"
                            } else if (e.p.productStateId == 3 && new Date(e.p.startime) < new Date() && new Date(e.p.endtime) > new Date()) {
                                e.p.productStateId = "募資中"
                            } else if (e.p.productStateId == 3 && new Date(e.p.endtime) < new Date() && e.sum > e.p.targetAmount) {
                                e.p.productStateId = "募資成功"
                            } else if (e.p.productStateId == 3 && new Date(e.p.endtime) < new Date() && e.sum < e.p.targetAmount) {
                                e.p.productStateId = "募資失敗"
                            }
                        });
                        this.productlist = response.data
                        setTimeout(() => loader.hide(), 200);
                    })
            }
        })
    </script>
</body>

</html>