<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Back-Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mystyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="js/sb-admin-2.min.js"></script> -->
    <script src="./js/logincheck.js"></script>

    <style>
        #myImg:hover #myImgInput {
            display: block;
        }
    </style>
</head>

<body>
    <div id="app">
        <loading :can-cancel="true"></loading>
        <div class="container-fluid p-0 bg-theme">
            <!-- 導覽列 -->
            <div id="myheader" class="bg-white"
                style="background-image: url(../img/headerbackgroud.png); background-size: cover;">
            </div>
            <!-- 結束 導覽列 -->
            <div class=" container-fluid px-5 p-4">
                <div class="row justify-content-center">
                    <!-- 側邊欄位 -->
                    <ul class="navbar-nav bg-white col-2 item-style sidebar" id="accordionSidebar"
                    style="overflow-x: auto;max-height: 750px;">
                        <br>
                        <div id="mysider"></div>
                    </ul>
                    <!-- 結束 側邊欄位 -->
                    <!--主要內容-->
                    <div class="col-10">
                        <div class="px-3">
                            <div class="bg-white item-style mb-5">
                                <!-- ===============================================================================================================  -->
                                <div class="card-header py-3 mb-3">
                                    <h3 class="m-0">基本資料</h6>
                                </div>
                                <div class="row justify-content-center p-5 ">
                                    <div class="col-6">
                                        <form class=""></form>
                                        <div class="row justify-content-around">
                                            <div class="col-5 ">
                                                <div class="text-center " style="">
                                                    <label for="myImgInput" class="btn p-0" style="border-radius: 50%;">
                                                        <img :src="employeeinfo.employeephoto" alt=""
                                                            style="height: 150px; width: 150px; border: 1px silver solid ;border-radius: 50%;"
                                                            class="d-block mx-auto imgset " id="myImg"></label> <br>
                                                    <!-- <label for="myImgInput" class="btn"
                                                        style="height: 150px; width: 150px; border: 1px silver solid ;border-radius: 50%; position: absolute; top: 0px; left: 50%; transform: translate(-50%, 0%); display: none"> <p><i class="fa-camera"></i></p>  </label> -->
                                                    <input type="file" name="" id="myImgInput" class="pb-3"
                                                        v-on:change="readURL" accept="image/jpeg,image/png"
                                                        style="max-width: 80px;">
                                                </div>
                                                <h3 class="p-0 text-center" v-cloak>{{newemployeeinfo.name}}</h3>
                                                <label for="">帳號:</label> <br>
                                                <input type="text" name="" id="" class="w-100" disabled
                                                    v-model="newemployeeinfo.account"> <br>
                                                <label for="">密碼:</label> <br>
                                                <input type="password" name="" id="" class="w-100"
                                                    v-model="newemployeeinfo.password">
                                            </div>
                                            <div class="col-5 d-flex flex-column justify-content-end">
                                                <label for="">Email</label>
                                                <input type="text" class="w-100" v-model="newemployeeinfo.email">
                                                <label for="">電話</label>
                                                <input type="text" class="w-100" v-model="newemployeeinfo.phone">
                                                <label for="">性別</label>
                                                <input type="text" class="w-100" disabled
                                                    v-model="newemployeeinfo.sexy">
                                                <label for="">職位</label>
                                                <input type="text" class="w-100" disabled
                                                    v-model="newemployeeinfo.position">
                                                <label for="">在職狀態</label>
                                                <input type="text" class="w-100" disabled
                                                    v-model="newemployeeinfo.status">
                                            </div>


                                            <div class="col-12 text-center mt-3">
                                                <button name="submit" type="submit" class="btn btn-primary px-5 "
                                                    v-on:click="updataprofile">
                                                    提交
                                                </button>
                                            </div>
                                        </div>


                                    </div>
                                    </form>
                                </div>
                            </div>
                            <!-- ===============================================================================================================  -->
                        </div>
                    </div>
                </div>
                <!-- 結束 主要內容 -->
            </div>
        </div>
    </div>
    <!-- 頁尾 -->
    <div id="myfooter"></div>
    <!-- 結束 頁尾r -->
    <!-- 回上方按鈕-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="./js/myjs.js"></script>

    <script>
        Vue.use(VueLoading);

        var app = new Vue({
            el: '#app',
            data: {
                LoaderVisiable: false,
                employeeinfo: [],
            },
            components: {
                Loading: VueLoading
            },
            methods: {
                open: function () {
                    console.log('open');
                    let loader = this.$loading.show({
                        loader: 'dots'
                    });
                    // setTimeout(() => loader.hide(), 0.5 * 1000);
                },
                logout: function () {
                    // alert("1523 ")
                    axios.get("/api/back/logout").then(res => { if (res.data == "已登出") { window.location.reload() } })
                },
                readURL(event) {
                    if (event.target.files && event.target.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            app._data.employeeinfo.employeephoto = reader.result
                        }
                        reader.readAsDataURL(event.target.files[0]);
                    }
                },
                updataprofile() {
                    axios.get(`/api/Employees/${getCookie("employeeId")}`).then(res => {
                        var profiledata = res.data
                        profiledata.email = this.employeeinfo.email
                        profiledata.phone = this.employeeinfo.phone
                        profiledata.employeephoto = this.employeeinfo.employeephoto
                        profiledata.password = this.employeeinfo.password
                        // console.log("profiledata" + profiledata)
                        axios.put(`/api/Employees/${this.employeeinfo.employeeId}`, profiledata).then(res => {
                            console.log(res)
                            swal("個人資料修改成功", "", "success", {}).then(x => {
                                window.location.reload()
                            })
                        })
                    })
                }

            },
            computed: {
                newemployeeinfo() {
                    var newemployeeinfo = this.employeeinfo;
                    switch (this.employeeinfo.position) {
                        case 1:
                            newemployeeinfo.position = "主管"
                            break;
                        case 2:
                            newemployeeinfo.position = "行政人員"
                            break;
                        case 3:
                            newemployeeinfo.position = "會計人員"
                            break;
                        case 4:
                            newemployeeinfo.position = "人事HR"
                            break;
                        default:
                            break;
                    };
                    switch (this.employeeinfo.status) {
                        case 1:
                            newemployeeinfo.status = "在職"
                            break;
                        case 2:
                            newemployeeinfo.position = "離職"
                            break;
                        case 3:
                            newemployeeinfo.position = "留職停薪"
                            break;
                    };
                    (newemployeeinfo.sexy == true) ? newemployeeinfo.sexy = "男" : newemployeeinfo.sexy = "女";


                    return newemployeeinfo

                }
            },
            mounted() {
                let loader = this.$loading.show({
                    loader: 'dots'
                });
                axios.get(`/api/Employees/${getCookie("employeeId")}`).then(res => {
                    this.employeeinfo = res.data
                    console.log(this.employeeinfo)
                    setTimeout(() => loader.hide(), 0.5 * 1000);
                })
            }
        })
    </script>
    <script>

    </script>
</body>

</html>